.toctree-wrapper ul li {
    list-style-type: none;
}

/* Heading size hierarchy */
h2 {
    font-size: 1.75em !important;
}

h3 {
    font-size: 1.4em !important;
}

h4 {
    font-size: 1.2em !important;
}
